<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wiilo.ssodemo.ssosupermarket.dao.ProductCommonMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.wiilo.ssodemo.ssosupermarket.po.ProductCommonPO" id="productCommonMap">
        <result property="productCommonId" column="product_common_id"/>
        <result property="spuId" column="spu_id"/>
        <result property="commonName" column="common_name"/>
        <result property="brandId" column="brand_id"/>
        <result property="storeId" column="store_id"/>
        <result property="classIdOne" column="class_id_one"/>
        <result property="classIdTwo" column="class_id_two"/>
        <result property="classIdThree" column="class_id_three"/>
        <result property="productBody" column="product_body"/>
        <result property="productState" column="product_state"/>
        <result property="commonImage" column="common_image"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="selfTime" column="self_time"/>
    </resultMap>
    
</mapper>